<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microMart.dao.DistrictMapper">
 	<select id="selectForInt" resultType="java.lang.Integer">
 		select count(*) from district where cityId=#{cityId}
 		<if test="name!=null&amp;name!=''">
 			and name like'%${name}%'
 		</if>
 	</select>
	<select id="selectList" resultType="com.microMart.entity.District">
		select * from district where cityId=#{cityId}
		<if test="name!=null&amp;name!=''">
			and name like'%${name}%'
		</if>
 		 order by sort limit #{start},#{rows}
	</select>
 	<insert id="add" parameterType="com.microMart.entity.District">
 		insert into district
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="name!=null">
 				name,
 			</if>
 			<if test="cityId!=null">
 				cityId,
 			</if>
 			<if test="sort!=null">
 				sort,
 			</if>
 			<if test="ifShow!=null">
 				ifShow,
 			</if>
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="name!=null">
 				#{name},
 			</if>
 			<if test="cityId!=null">
 				#{cityId},
 			</if>
 			<if test="sort!=null">
 				#{sort},
 			</if>
 			<if test="ifShow!=null">
 				#{ifShow},
 			</if>
 		</trim>
 	</insert>
</mapper>